body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

header {
  max-width: 1274px;
  margin: 0 auto;
}

.buttons_stack {
  float: left;
  justify-self: end;
  margin: 0;
  padding-top: 10px;
}

.buttons_stack li {
  display: inline;
  margin-right: 27px;
  font-size: 16px;
  white-space: nowrap;
  padding-right: 40px;
}

.buttons_stack li a {
  color: #000000;
}

.divider {
  margin-bottom: 0;

  width: 1274px;
  height: 0;

  border: 0.1px solid #bfbfbf;
}

.login_button {
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #1890FF;
  transition: 0.2s;
  justify-self: right;
}

.header_content {
  display: grid;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-template-columns: 2fr 12fr 1fr;
  grid-template-areas: "logo buttons_stack login_button";
}

.logo {
  grid-area: logo;
}

.slogan {
  font-size: 50px;
  margin-top: 70px;
  grid-area: slogan;
  white-space: nowrap;
}

.location {
  grid-area: location;
  margin-top: 120px;
  margin-right: 60px;
}

.description {
  margin-top: -300px;
}

.first_section {
  margin: 0 auto;
  max-width: 1274px;
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "slogan location" "description ." "try_it details";
  grid-template-rows: 3fr 3fr 1fr;
}

.try_it{
  grid-area: try_it;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #34C759;
  transition: 0.2s;
  justify-self: start;
  margin-top: -200px;
  align-self: start;
}

.details {
  grid-area: details;
  font-size: 16px;
  color: #34C759;
  padding: 8px 15px;
  border-radius: 4px;
  background: white;
  border: 1px solid #34C759;
  transition: 0.2s;
  justify-self: start;
  margin-top: -200px;
  margin-left: -450px;
  align-self: start;
}
.second_section {
  background-image: url(img/Rectangle_1.svg);
  height: 550px;
  margin: -10px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "white_slogan" "service_cards";
}
.white_slogan {
  font-size: 50px;
  margin: 0 auto;
  max-width: 1274px;
  color: white;
  grid-area: white_slogan;
  margin-top: 80px;
  margin-left: 200px;
  white-space: nowrap;
}
.service_cards {
  grid-area: service_cards;
  justify-self: center;
  grid-template-columns: repeat(3, auto);
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.service_card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(32, 154, 51, 0.5);
  border-radius: 10px;
  height: 320px;
  width: 280px;
  margin: auto 110px;
}
.card_picture img {
  width: 37%;
  margin-top: 25px;
  margin-left:25px;
}

.service_card h3 {
  margin-left: 15px;
  font-size: 1.1em;
}

.service_card p {
  margin-left: 15px;
  font-size: 0.85em;
  height: 45px;
}

.service_card a {
  color: #007AFF;
}

.third_section {
  margin: 0 auto;
  max-width: 1274px;
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "slogan designers" "tech_description ." "to_test .";
  grid-template-rows: 3fr 3fr 1fr;
}
.tech_description {
  margin-top: -400px;
}

.to_test {
  grid-area: to_test;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #007AFF;
  transition: 0.2s;
  justify-self: start;
  margin-top: -250px;
  align-self: start;
}

.designers img {
  grid-area: designers;
  width: 800px;
  margin-left: -340px;
}

.fourth_section {
  grid-column-gap: 15px;
  margin-left: 260px;
  max-width: 1274px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "women slogan" ". opportunities_description" ". create";
  grid-template-rows: 3fr 3fr 1fr;
}

.women img {
  grid-area: women;
  width: 650px;
  margin-left: -140px;
  margin-top: 30px;
}
.opportunities_description {
  grid-area: opportunities_description;
  margin-top: -280px;
  white-space: nowrap;
}

.opportunities_description ul {
  margin-left: -20px;
}
.create {
  grid-area: create;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #007AFF;
  transition: 0.2s;
  justify-self: start;
  margin-top: -50px;
  align-self: start;
}

.reviews_section {
  margin: 0 auto;
  max-width: 1274px;
  height: 400px;
}
.reviews_cards {
  margin-top: 40px;
  margin-left: -115px;
  margin-right: -115px;
  display: flex;
  flex-wrap: wrap;
}
.review_card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(47, 44, 44, 0.3);
  border-radius: 10px;
  height: 240px;
  width: 260px;
  margin: 0 auto 0 auto;
}
.round {
  border-radius: 50%;
  width: 35%;
  margin-left: 33%;
}
.review_card h4 {
  text-align: center;
}

.review_card p {
  text-align: center;
  font-size: 0.85em;
  color: #595959;
  margin-top: -10px;
}
.emoji {
  margin-left: 90%;
  width: 20%;
  margin-top: -7%;
}

.questions_section {
  height: 380px;
  margin: -10px;
  background: radial-gradient(205.39% 205.39% at 50% 159.09%, #5856D6 0%, #007AFF 100%);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-areas: "white_slogan ." "write question_picture";
}

.write {
  margin-left: 200px;
  margin-top: 20px;
  height: 20px;
  grid-area: write;
  font-size: 16px;
  color: #1890FF;
  padding: 8px 15px;
  border-radius: 4px;
  background: white;
  transition: 0.2s;
  justify-self: left;
}

.question_picture {
  grid-area: question_picture;
  margin-top: -6.8em;
  width: 280px;
}

.footer_content {
  height: 160px;
  color: white;
  background-color: #292929;
  margin: 10px -10px -10px -10px;
  display: flex;
  flex-wrap: wrap;
}

.footer_logo {
  margin-top: 70px;
  height: 14%;
  margin-right: auto;
  margin-left: auto;}

.footer_info {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 50px;
}
.git {
  flex-basis: 100%;
  height: 18%;
}
