body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

.white {
  color: white;
}

.slogan {
  display: inline-block;
  max-width: 1274px;
  margin: 0 auto;
}

header {
  max-width: 1274px;
  margin: 0 auto;
}

.header_content {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  border-bottom: 0.1px solid #bfbfbf;
}

.logo {
  width: 249px;
  min-height: 25px;
  background-image: url(img/logo.svg);
  margin-bottom: 10px;
  background-position: left center;
}

.svg {
  background-repeat: no-repeat;
  background-size: contain;
}

.buttons_stack {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  margin-bottom: 10px;
}

.buttons_stack a {
  align-self: center;
  display: flex;
  margin-right: 27px;
  font-size: 16px;
  white-space: nowrap;
  padding-right: 40px;
  color: #000;
}

@media screen and (max-width: 900px){
  .buttons_stack {
    display: none;
  }
}

.buttons_stack li a {
  color: #000000;
}

.button {
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #1890FF;
  transition: 0.2s;
  justify-self: right;
  border-width: 0;
  transition-duration: .5s;
  transition-property: background-color;
}

.button:hover {
  background-color: #5856D6;
}

.location {
  min-width: 40vw;
  background-image: url(img/location.svg);
  background-position: right center;
}

.about {
  margin: 60px auto;
  max-width: 1274px;
  height: auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 50px;
  color: #2C2C2E;
}

.description {
  font-size: 24px;
  color: #48484A;
}

.try_it{
  grid-area: try_it;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #34C759;
  transition: 0.2s;
  justify-self: start;
  margin-top: -200px;
  align-self: start;
}

.details {
  grid-area: details;
  font-size: 16px;
  color: #34C759;
  padding: 8px 15px;
  border-radius: 4px;
  background: white;
  border: 1px solid #34C759;
  transition: 0.2s;
  justify-self: start;
  margin-top: -200px;
  margin-left: -450px;
  align-self: start;
}
.second_section {
  background-color: green;
  margin: 0 auto;
  max-width: 1274px;
  height: auto;
}

.service_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  grid-area: service_cards;
  justify-self: center;
  margin-top: 50px;
}
.service_card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(32, 154, 51, 0.5);
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 3;
  padding: 30px 20px 0 35px;
  margin-right: 32px;
}

.last_card {
  margin-right: 0;
}

.card_picture {
  width: 37%;
}

.service_card h3 {
  font-size: 1.1em;
}

.card-description {
  font-size: 0.85em;
  height: 50px;
  margin-bottom: 0;
}

.service_card a {
  color: #007AFF;
}

.third_section {
  margin: 0 auto;
  max-width: 1274px;
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "slogan designers" "tech_description ." "to_test .";
  grid-template-rows: 3fr 3fr 1fr;
}
.tech_description {
  margin-top: -400px;
}

.to_test {
  grid-area: to_test;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #007AFF;
  transition: 0.2s;
  justify-self: start;
  margin-top: -250px;
  align-self: start;
}

.center_items {
  align-items: center;
}

.designers {
  min-width: 50vw;
  height: 60vh;
  background-image: url(img/Designers.svg);
  background-position: right center;
}

.woman {
  min-width: 50vw;
  height: 60vh;
  background-image: url(img/woman.svg);
  background-position: left center;
}

.zero_top {
  margin-top: 0;
}

.zero_bottom {
  margin-bottom: 0;
}

.opportunities_description {
  grid-area: opportunities_description;
  margin-top: -280px;
  white-space: nowrap;
}

.opportunities_description ul {
  margin-left: -20px;
}
.create {
  grid-area: create;
  font-size: 16px;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background: #007AFF;
  transition: 0.2s;
  justify-self: start;
  margin-top: -50px;
  align-self: start;
}

.reviews_section {
  margin: 0 auto;
  max-width: 1274px;
  height: 400px;
}
.reviews_cards {
  margin-top: 40px;
  margin-left: -115px;
  margin-right: -115px;
  display: flex;
  flex-wrap: wrap;
}
.review_card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(47, 44, 44, 0.3);
  border-radius: 10px;
  height: 240px;
  width: 260px;
  margin: 0 auto 0 auto;
}
.round {
  border-radius: 50%;
  width: 35%;
  margin-left: 33%;
}
.review_card h4 {
  text-align: center;
}

.review_card p {
  text-align: center;
  font-size: 0.85em;
  color: #595959;
  margin-top: -10px;
}
.emoji {
  margin-left: 90%;
  width: 20%;
  margin-top: -7%;
}

.questions_section {
  height: 380px;
  margin: -10px;
  background: radial-gradient(205.39% 205.39% at 50% 159.09%, #5856D6 0%, #007AFF 100%);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-areas: "white_slogan ." "write question_picture";
}

.write {
  margin-left: 200px;
  margin-top: 20px;
  height: 20px;
  grid-area: write;
  font-size: 16px;
  color: #1890FF;
  padding: 8px 15px;
  border-radius: 4px;
  background: white;
  transition: 0.2s;
  justify-self: left;
}

.question_picture {
  grid-area: question_picture;
  margin-top: -6.8em;
  width: 280px;
}

.footer_content {
  height: 160px;
  color: white;
  background-color: #292929;
  margin: 10px -10px -10px -10px;
  display: flex;
  flex-wrap: wrap;
}

.footer_logo {
  margin-top: 70px;
  height: 14%;
  margin-right: auto;
  margin-left: auto;}

.footer_info {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  width: 50px;
}
.git {
  flex-basis: 100%;
  height: 18%;
}

@media screen and (max-width: 970px){
  .about {
    flex-direction: column;
    align-items: normal;
  }

  .designers {
    display: none;
  }

  .woman {
    display: none;
  }

  .location {
    height: 50vw;
    float: right;
    margin: -40px 20px 0 0;
  }

  .service_cards {
    flex-direction: column;
  }

  .service_card {
    margin: 0 0 32px 0;
    padding: 20px 15px 20px 25px;
  }

  .card_picture {
    width: 20%
  }

  .card-description {
    height: auto;
  }

  .second_section {
    margin: 0;
  }
}

@media screen and (max-width: 660px) {
  .location {
    margin-top: 1px;
    float: none;
    height: 60vw;
    width: 70vw;
  }

  .about {
    flex-direction: column-reverse;
  }
}
