body {
  font-family: 'Golos', sans-serif;
}

.no_decoration {
  text-decoration: none;
}

.margin_left_16 {
  margin-left: 16px;
}

.white {
  color: white;
}

.slogan {
  display: inline-block;
  max-width: 1274px;
  margin: 0 auto;
}

header {
  max-width: 1274px;
  margin: 0 auto;
}

.services_background {
  background-image: url(img/Rectangle_1.svg);
  margin: 16px -8px;
  padding: 50px 16px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_content {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  border-bottom: 0.1px solid #bfbfbf;
}

.logo {
  width: 249px;
  min-height: 25px;
  background-image: url(img/logo.svg);
  margin-bottom: 10px;
  background-position: left center;
}

.svg {
  background-repeat: no-repeat;
  background-size: contain;
}

.buttons_stack {
  display: flex;
  flex-wrap: nowrap;
  align-self: center;
  margin-bottom: 10px;
}

.buttons_stack a {
  align-self: center;
  display: flex;
  margin-right: 27px;
  font-size: 16px;
  white-space: nowrap;
  padding-right: 40px;
  color: #000;
}

.button {
  color: white;
  font-family: 'Golos', sans-serif;
  font-size: 24px;
  padding: 14px 28px;
  border-radius: 5px;
  transition: 0.2s;
  justify-self: right;
  border-width: 0;
  transition-duration: .5s;
  transition-property: background-color;
}

.input {
  color: #333333;
  font-family: 'Golos', sans-serif;
  padding: 14px 28px;
  border-radius: 5px;
  transition: 0.2s;
  justify-self: right;
  border-width: 0;
  margin-right: 16px;
  font-size: 20px;
  margin-bottom: 16px;
}

.button_blue {
  background-color: #1890FF;
}

.button_blue:hover {
  background-color: #5856D6;
}

.button_green {
  background-color: #34C759;
  border: #34C759 2px solid;
  transition-property: border, background-color;
}

.button_green:hover {
  background-color: #15A338;
  border-color: #15A338;
}

.button_green_outlined {
  background-color: white;
  color: #34C759;
  border: #34C759 3px solid;
  transition-property: color, border, background-color;
}

.button_green_outlined:hover {
  color: #15A338;
  border-color: #15A338;
  background-color: #F7F7F7;
}

.button_white {
  font-size: 20px;
  background-color: white;
  color: #1890FF;
  transition-property: color, background-color;
}

.button_white:hover {
  background-color: #1890FF;
  color: white;
}

.button_small {
  font-size: 16px;
  padding: 10px 16px;
}

.location {
  min-width: 38vw;
  height: 60vh;
  background-image: url(img/location.svg);
  background-position: right center;
}

.about {
  margin: 60px auto;
  max-width: 1274px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 50px;
  color: #2C2C2E;
}

.description {
  font-size: 24px;
  color: #48484A;
}

.section_with_cards {
  margin: 0 auto;
  max-width: 1274px;
  height: auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  justify-self: center;
  margin-top: 50px;
}

.service_card {
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(32, 154, 51, 0.5);
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 3;
  padding: 30px 20px 0 35px;
  margin-right: 64px;
}

.card_picture {
  width: 37%;
  margin-right: 40px;
}

.service_card h3 {
  font-size: 1.1em;
}

.card-description {
  font-size: 0.85em;
  height: 50px;
  margin-bottom: 0;
}

.service_card a {
  color: #007AFF;
}

.center_items {
  align-items: center;
}

.designers {
  min-width: 50vw;
  height: 60vh;
  background-image: url(img/Designers.svg);
  background-position: right center;
}

.woman {
  min-width: 50vw;
  height: 60vh;
  background-image: url(img/woman.svg);
  background-position: left center;
}

.zero_top {
  margin-top: 0;
}

.zero_bottom {
  margin-bottom: 0;
}

.review_card {
  background: #FFFFFF;
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 3;
  padding: 30px;
  margin-right: 64px;
  box-shadow: 0 4px 30px rgba(47, 44, 44, 0.3);
}

.round {
  border-radius: 50%;
  width: 35%;
  margin: 0 32.5% 0 32.5%;
}

.review_card h4 {
  text-align: center;
}

.review_card p {
  text-align: center;
  font-size: 0.85em;
  color: #595959;
  margin-top: -10px;
}

.emoji {
  margin-left: 95%;
  width: 20%;
  margin-top: -15%;
}

.questions_section {
  background: radial-gradient(205.39% 205.39% at 50% 159.09%, #5856D6 0%, #007AFF 100%);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 0 -8px;
}

.question {
  min-width: 50vw;
  height: 40vh;
  background-image: url(img/question.svg);
  background-position: right top;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.footer_content {
  padding: 45px 45px 0;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  background-color: #292929;
  margin: 10px -8px -8px -8px;
  height: 165px;
  display: flex;
  flex-direction: column;
}

.git {
  margin: 20px auto;
  background-image: url(img/git.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.logo_footer {
  width: 249px;
  height: 31px;
  background-image: url(img/space.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer_text {
  width: 20vw;
}

.last_card {
  margin-right: 0;
}

.text_right {
  text-align: right;
}

.form_description {
  color: white;
  margin-top: -30px;
}

@media screen and (max-width: 1300px) {
  .about {
    padding: 0 64px;
  }

  .section_with_cards {
    padding: 0 64px;
  }
}

@media screen and (max-width: 970px){
  .section_with_cards {
    padding: 0 32px;
  }

  .about {
    flex-direction: column;
    align-items: normal;
    padding: 0 32px;
  }

  .designers, .woman, .emoji {
    display: none;
  }

  .location {
    height: 50vw;
    float: right;
    margin: -20px 20px 0 0;
  }

  .cards {
    flex-direction: column;
  }

  .service_card {
    margin: 0 0 32px 0;
    padding: 20px 15px 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .service_card h3 {
    font-size: 24px;
  }

  .card-description {
    font-size: 18px;
  }

  .service_card a {
    font-size: 20px;
  }

  .review_card {
    margin: 0 0 32px 0;
    padding: 20px 15px 20px 25px;
  }

  .card_picture {
    width: 20%;
  }

  .card-description {
    height: auto;
  }

  .second_section {
    margin: 0;
  }

  .services_background {
    margin: 0 -8px;
    padding: 50px 16px 8px;
  }

  .footer {
    height: 200px;
  }

  .footer_content {
    flex-direction: column;
  }

  .footer_text {
    text-align: center;
    width: auto;
    margin-bottom: 14px;
  }

  .git {
    margin-top: 0;
  }

  .logo_footer {
    order: -1;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 900px){
  .buttons_stack {
    display: none;
  }

  .logo {
    margin: 0 auto 15px;
  }
}

@media screen and (max-width: 660px) {
  .location {
    margin-top: 1px;
    float: none;
    height: 60vw;
    width: 70vw;
  }

  .col-reverse_degradation {
    flex-direction: column-reverse;
  }

  .services_background {
    margin: 32px -8px;
  }

  .about, .section_with_cards {
    padding: 0 16px;
  }
}
